<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetServlt</servlet-name>
  	<display-name>GetServlt</display-name>
  	<description></description>
  	<servlet-class>com.logins.GetServlt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ImageDownloader</servlet-name>
  	<display-name>ImageDownloader</display-name>
  	<description></description>
  	<servlet-class>com.logins.ImageDownloader</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FruitItemsSrvlt</servlet-name>
  	<display-name>FruitItemsSrvlt</display-name>
  	<description></description>
  	<servlet-class>com.logins.FruitItemsSrvlt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DataAdding</servlet-name>
  	<display-name>DataAdding</display-name>
  	<description></description>
  	<servlet-class>com.logins.DataAdding</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OnlyForImage</servlet-name>
  	<display-name>OnlyForImage</display-name>
  	<description></description>
  	<servlet-class>com.logins.OnlyForImage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeDataAdding</servlet-name>
  	<display-name>HomeDataAdding</display-name>
  	<description></description>
  	<servlet-class>com.logins.HomeDataAdding</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationData</servlet-name>
  	<display-name>RegistrationData</display-name>
  	<description></description>
  	<servlet-class>com.logins.RegistrationData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDataToCart</servlet-name>
  	<display-name>AddDataToCart</display-name>
  	<description></description>
  	<servlet-class>com.logins.AddDataToCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAddrsEmailPhone</servlet-name>
  	<display-name>GetAddrsEmailPhone</display-name>
  	<description></description>
  	<servlet-class>com.logins.GetAddrsEmailPhone</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMobileNo</servlet-name>
  	<display-name>AddMobileNo</display-name>
  	<description></description>
  	<servlet-class>com.logins.AddMobileNo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FruitListAcceptItems</servlet-name>
  	<display-name>FruitListAcceptItems</display-name>
  	<description></description>
  	<servlet-class>com.logins.FruitListAcceptItems</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcceptConfirmOrder</servlet-name>
  	<display-name>AcceptConfirmOrder</display-name>
  	<description></description>
  	<servlet-class>com.logins.AcceptConfirmOrder</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetServlt</servlet-name>
  	<url-pattern>/GetServlt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImageDownloader</servlet-name>
  	<url-pattern>/ImageDownloader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FruitItemsSrvlt</servlet-name>
  	<url-pattern>/FruitItemsSrvlt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DataAdding</servlet-name>
  	<url-pattern>/DataAdding</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OnlyForImage</servlet-name>
  	<url-pattern>/OnlyForImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeDataAdding</servlet-name>
  	<url-pattern>/HomeDataAdding</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationData</servlet-name>
  	<url-pattern>/RegistrationData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDataToCart</servlet-name>
  	<url-pattern>/AddDataToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAddrsEmailPhone</servlet-name>
  	<url-pattern>/GetAddrsEmailPhone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMobileNo</servlet-name>
  	<url-pattern>/AddMobileNo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FruitListAcceptItems</servlet-name>
  	<url-pattern>/FruitListAcceptItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptConfirmOrder</servlet-name>
  	<url-pattern>/AcceptConfirmOrder</url-pattern>
  </servlet-mapping>
</web-app>
